.text-center
{
    text-align: center;
}

.bg-red
{
    background: red;

}

.mx-auto
{
    margin: auto;
}
.m-w-20
{
    max-width: 30vw;
}
.flex
{
    display: flex;
}
.flex-col
{
    flex-direction: column;
}
.items-centre
{
    align-items: center;
}
.align
{
    align-items: center;
}